# Игнорировать директорию с байткодом Python
__pycache__/
**/__pycache__
.ruff_cache

# Игнорировать файлы компиляции Python
*.pyc

# Игнорировать директории виртуальных окружений
.venv/
venv/
.env/

# Игнорировать файлы IDE
.idea/
.vscode/

# Игнорировать файлы логов
*.log

*.json
/data